.app.dark {
    --bg-color: #2b2b2b;
    --inverted-bg-color: #d3d3d3;
    --primary-color: #3afae4;
    --secondary-color: #e296fa;
    --inverted-primary-color: deepskyblue;
    --inverted-secondary-color: #5b5b5b;
}
