//.app.light {
:root {
    --bg-color: #e1d6d6;
    --inverted-bg-color: #2b2b2b;
    --primary-color: deepskyblue;
    --secondary-color: #5b5b5b;
    --inverted-primary-color: #3afae4;
    --inverted-secondary-color: #e296fa;
    --red-color: #f52828;
}
